# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.env.local
backend/.env.production
backend/node_modules
# Frontend
front1/.next/
front1/node_modules/
front1/.env
front1/.env.local
front1/.env.production

# General
.DS_Store
.vscode/
*.log
